.footer {
  margin: 0 auto;
  width: 100%;
  background-color: #ede9ef;
}
.p {
  font-weight: bolder;
}
.footer img{
    margin: 10px;
}
 @media (min-width: 850px) {
  .footer{
    display: flex;
    gap: 5%;
    text-align: left;
    justify-content: center;   
  }
}  
